<br>
<br>
<div class="footer-container" >

  <div class="text-center">
  <span class="text-muted">&nbsp;&nbsp;iAmei <small>estampas personalizadas</small></span>
  </div>

  <div class="row">

    <div class="col-md-4"></div>

    <div class="col-md-4 text-left">
      <ul class="list-footer">
          <li>Centro de Diadema - SP</li>
          <li>Loja Virtual</li>
          <li><a href="mailto:vendas@iameiestampas.com.br">vendas@iameiestampas.com.br</a></li>
      </ul>
    </div>

    <div class="col-md-4">

      <ul class="list-footer">
        <li>
          <a routerLink="medidas-de-camisetas-personalizadas">Medidas de camisetas</a>
        </li>
        <li>
          <a routerLink="como-funciona">Como funciona</a>
        </li>
        <li>
          <a routerLink="blog">Blog</a>
        </li>
      </ul>

    </div>

  </div>

</div>
<div class="space-footer"></div>

<footer class="footer">
  <div class="container">
    <span class="text-muted"><a href="tel:+5511940235487"><mat-icon>phone</mat-icon> 11 94023-5487</a></span>
  </div>
</footer>