<div class="container">

  <div class="row">
      <div class="col-md-2"></div>
    <div class="col-md-4 text-center">
      <img class="img-medidas" src="/assets/img/camisetas-adulto.jpg">
    </div>

    <div class="col-md-4 text-center">
        <img class="img-medidas" src="/assets/img/camisetas-baby-look.jpg">
      </div>

  </div>


  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
          <img class="img-medidas" src="/assets/img/camisetas-regata_masculino.jpg">
        </div>

      <div class="col-md-4 text-center">
          <img class="img-medidas" src="/assets/img/camisetas-regata-feminina.jpg">
        </div>
  
      </div>

      <div class="row">
          <div class="col-md-2"></div>
              <div class="col-md-4 text-center">
                  <img class="img-medidas" src="/assets/img/camisetas-infantil.jpg">
                </div>
          </div>
</div>
