<div class="container-fluid">

<div class="row">  
  <div class="col-md-4 text-center div-links-col"> 
      <hr class="div-links">   
    <a routerLink="/orcamento/camiseta" class="thumbnail">
      <img class="rounded-circle border-cicle" src="/assets/img/camiseta.jpg"  >
    </a>    
    <label class="title-link"><small>Camisetas</small></label>
  </div>

  <div class="col-md-4 text-center div-links-col">   
      <hr class="div-links"> 
    <a routerLink="/orcamento/caneca" class="thumbnail">
      <img class="rounded-circle border-cicle" src="/assets/img/caneca.jpg"  >
    </a>
    <label class="title-link"><small>Canecas</small></label>
  </div>

  <div class="col-md-4 text-center div-links-col">
      <hr class="div-links">
    <a routerLink="/orcamento/chinelo" class="thumbnail">
      <img class="rounded-circle border-cicle" src="/assets/img/chinelo.jpg"  >
    </a>
    <label class="title-link"><small>Chinelos</small></label>
  </div>

</div>
<br><br>
<hr class="div-btn">
<div class="row">
    <div class="col-md-4 text-center"></div>
      <div class="col-md-4 text-center">
          <div class="button-row">

              <a mat-raised-button 
                class="btn-circle" 
                color="primary" 
                routerLink="/produtos" >muito<br>mais</a>
          </div>
      </div>
      <div class="col-md-4 text-center"></div>
</div>
</div>