<div class="container-home">
    <div class="row">
        <div class="col-md-6 text-center">
            <img class="img-home" src="/assets/img/camisetas-personalizadas-familia.jpg">
        </div>
        <div class="col-md-6 text-left text-home">
            <h1>Camisetas Personalizadas</h1>
            <p>Olá, apresentamos a você uma linha de produtos personalizados com qualidade.</p>

            <div class="show-desktop">
                <p>Nossas camisetas personalizadas são produzidas com muito amor e carinho. Optamos por trabalhar com excelentes
                    produtos personalizados por que sabemos que você merece, e além disso, uma lembrança deve durar para sempre,
                    não é mesmo?</p>
                <p>Fique a vontade em nosso site e saiba que, se você ainda não tem a arte mas tem a ideia, eu faço uma pra você
                    sem custo</p>
                <p>Faça um orçamento ou entre em contato e tire todas as dúvidas!</p>
            </div>

        </div>
    </div>
</div>

<app-thumbnail></app-thumbnail>

<div class="container show-mobi">
    <div class="row">
        <div class="col-md-12">
            <div class="text-desc">
                <h1>Camisetas e Brindes Personalizados</h1>
                <p>Nossas camisetas personalizadas são produzidas com muito amor e carinho. Optamos por trabalhar com excelentes
                    produtos personalizados por que sabemos que você merece, e além disso, uma lembrança deve durar para sempre,
                    não é mesmo?</p>
                <p>Fique a vontade em nosso site e saiba que, se você ainda não tem a arte mas tem a ideia, eu faço uma pra você
                    sem custo</p>
                <p>Faça um orçamento ou entre em contato e tire todas as dúvidas!</p>
            </div>
        </div>
    </div>
</div>